<div class="container">
    
    <div class="mb-3 d-block p-2">
        <div class="row">
            <div class="col col-sm-1">
                <label class="form-label fs-5">Nombre:</label>
            </div>
            <div class="col">
                <input type="email" class="form-control text-center">
            </div>
          </div>
    </div>

    <div class="mb-3 d-block p-2">
        <div class="row">
            <div class="col col-sm-1">
                <label class="form-label fs-5">Apellido:</label>
            </div>
            <div class="col">
                <input type="email" class="form-control text-center">
            </div>
        </div>
    </div>

    <div class="mb-3 d-block p-2">
        <div class="row">
            <div class="col col-sm-1">
                <label class="form-label fs-5">Correo:</label>
            </div>
            <div class="col">
                <input type="email" class="form-control text-center">
            </div>
        </div>      
    </div>

</div>