.navbar {
    background-color: #EAEAEA;
    opacity: 0.8;
}

.nav-item a {
    color: black;
    font-family: cursive;
}

img {
    width: 6em;
    margin-top: -15px;
    padding-right: 5px;
}

.search {
    width: 20em;
    font-family: cursive;
}