<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand">
              <img src="assets/iconos/icon.png" (click)="personajes()">
          </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" (click)="ubicacion()">Ubicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="episodio()">Episodios</a>
                </li>
            </ul>
          <form class="d-flex">
              <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search"
              (keyup)="filtrarPersonajes($event)">
          </form>
    </div>
  </div>
</nav>
